########################################
# Python cache and test files
########################################
__pycache__/
.pytest_cache/
.hypothesis/
.coverage
coverage.xml
.mypy_cache/

########################################
# Virtual environment folders
########################################
venv/
.venv/

########################################
# PyInstaller build artifacts
########################################
dist/
build/
crossSum.spec

########################################
# Local/personal files (add as needed)
########################################
settings.json